<div class="input-group">
    <%= form_tag browse_path, method: :get do %>
    <p>
      <%= text_field_tag :search, params[:search], :class => "form-control", :placeholder => "Put down your destination" %>
      <span><%= submit_tag "Search", name: :nil, :class => "btn btn-default" %></span>
    </p>
    <% end %>
<br>
  <p class="navbar-text pull-left", align="center">
    <%= link_to "Add a new hotel!", new_hotel_path %>
  </p>
</div>
