<body align="center">
	<ul>
	<h1 align="center">Welcome to our Website!</h1>
	<div>You are here, because you are looking for a convenience room in hotel in good price.</div>
	<div>We are here to show you, how easy you can find it!</div>
	<div><%= link_to "Check our hotels!" ,hotels_path %></div>
</ul>
</body>